h1{
    margin-left: auto;
    margin-right: auto;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.445);
}

.graph_container{
    max-width: 900px;
    margin: 0 auto;
}

.item {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
.item1{
    
    height: 50%;
    width: auto;

}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn2{
  font-size: 1.0rem;
  font-weight: 500;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 0rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

#back{
  background-image:url("../img/back1.jpeg") ;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* .btn,
button.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
} */

button.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

button.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

.main_botan{
  margin-left: 60%;
  margin-top: -25%;

}



.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}

.detail{
  display:none;
}
.detail ,.open{
  background-color: rgb(238, 243, 110);
}


@media screen and (min-width:1024px) {

  #back{
    background-image:url("../img/back1.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
  }
}
